# Public directory for static files
PUBLIC_DIR=/tools/public

# Listen port for HTTP server
LISTEN_PORT=80

# Path to events file
EVENTS_FILE=/data/events.json

# Path to DIUN binary
DIUN_BINARY=diun

# Optional future settings:
# CLEANUP_ENABLED=true

# Log level (debug, info) Info is the default, debug will print more verbose logs
LOG_LEVEL=info
