body {
    background: #f4f6f9;
}

.card-title {
    font-weight: 600;
}

table.dataTable tbody tr:hover {
    background-color: #eef3ff !important;
}

code {
    background: #f1f1f1;
    padding: 2px 4px;
    border-radius: 4px;
}

.badge-status {
    font-size: 0.85rem;
    padding: 4px 8px;
}

.modal-dialog {
    max-width: 700px;       /* prevents modal from stretching too wide */
}

#labelsBlock {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 5px;
}


#labelsBlock dt, 
#labelsBlock dd {
    word-break: break-word; /* prevents long keys/values from pushing width */
}

.ev-col-select {
    width: 28px !important;
    max-width: 28px !important;
    text-align: center;
}

#images tbody tr {
    transition: transform 0.1s ease, background-color 0.1s ease;
}


#images tbody tr:hover {
    background-color: #eef5ff !important;
    transform: scale(1.01);
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

#events tbody tr {
    transition: transform 0.1s ease, background-color 0.1s ease;
}

#events tbody tr:hover {
    background-color: #eef5ff !important;
    transform: scale(1.01);
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}